body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* 
main style */

.main {
display: flex;
flex-direction: row-reverse;

width: 1200px;
margin: 0 auto;
}

/* main content */

.main-content {
background-color: #FFFFFF;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
padding: 105px 90px;
}


/* about styles */

.about {
    margin-bottom: 40px;
    }
    
    .about-position {
    
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 20px;
    }
    
    .about-name {
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: #000000;
        margin-bottom: 25px;
    
    }
    
    
    .about-description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin-bottom: 40px;
        width: 400px;
       
    
    }


    .projects {
        margin-bottom: 50px;
        }
        
        
        .title {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
        
        }
        
        
        .project-list {
            padding: 0;
            margin-left: 15px;
        }
        
        
        .project-item {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        
        }
        
        .project , .project-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        
        }
        
        .project-link {
        margin-left: 10px;
        
        }
        
        
        .project-bracket {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
         color: #000000;
        
        }
